.Sidebar_Dashboard {
  width: 260px;
  background-color: var(--color);
  border-right: 1px solid #e6e6e6;
  min-height: 100vh;
  padding: 20px 15px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Sidebar_Dashboard_item {
  text-align: center;
  margin-bottom: 20px;
}
.Sidebar_Dashboard_profile {
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  object-fit: cover;
}
.profile_text h2 {
  font-size: 13px;
  color: #888;
  margin: 0;
  text-align: right;
}
.profile_text h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 2px 0 0;
  color: #2c3e50;
  text-align: right;
}
.profile_btn {
  width: 100%;
  background-color: transparent;
  color: #2c3e50;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}
.profile_btn:hover {
  background-color: var(--hover-color);
  color: var(--color);
}
.Sidebar_Dashboard_links {
  margin: 15px 0;
}
.Sidebar_Dashboard_link {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Sidebar_Dashboard_link li {
  margin-bottom: 6px;
}
.Sidebar_Dashboard_link a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  border-radius: 8px;
  color: #333;
  font-size: 15px;
  transition: all 0.3s;
  text-decoration: none;
}
.Sidebar_Dashboard_link a svg {
  font-size: 18px;
  color: var(--main-color);
  min-width: 20px;
}
.Sidebar_Dashboard_link a:hover {
  background-color: #aaffee40;
  color: #2c3e50;
  font-weight: 500;
}
.logout_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: #2c3e50;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}
.logout_btn svg {
  font-size: 18px;
  color: var(--main-color);
}
.logout_btn:hover {
  background-color: var(--main-color);
  color: var(--color);
}
