.showAnyUserData {
    background-color: #ececec;
    min-height: 100dvh;
}
.showAnyUserData .showAnyUserData_container {
    max-width: 1190px;
    padding: 80px 20px;
    margin: auto;
}
.showAnyUserData .user_data {
    background-color: var(--color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding-bottom: 20px;
    overflow: hidden;
}

.showAnyUserData .user_data .user_images .cover_user_image {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 280px;
    max-height: 300px;
    position: relative;
}

.showAnyUserData .user_data .user_images .cover_user_image img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.showAnyUserData .user_data .user_images .profile_user_image {
    width: 140px;
    height: 30px;
    margin: auto;
    text-align: center;
    position: relative;
}

.status_dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: -10px;
}

.showAnyUserData .user_data .user_images .profile_user_image .user_img_container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    width: 140px;
    height: 140px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.showAnyUserData .user_data .user_images .profile_user_image .user_img_container img {
    object-fit: cover;
}

.showAnyUserData .user_data .user_info {
    text-align: center;
}


/* ===== Cards ===== */
.categories_items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.categories_items .category_card {
    background: #fff;
    border: 1px solid var(--main-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.categories_items .category_card:hover {
    transform: translateY(-4px);
}

.categories_items .category_card .card_image {
    width: 100%;
    height: 180px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.categories_items .category_card .card_image img {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0px;
}

.categories_items .category_card .card_user {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.categories_items .category_card .card_user img,
.categories_items .category_card .avatar_placeholder {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.avatar_placeholder {
    background-color: #e0e0e0;
    color: #555;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_body {
    padding: 0px 10px;
}

.card_body h3 {
    padding: 0 12px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 8px 0;
}

.card_meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 12px 12px;
    font-size: 14px;
    color: #777;
}

.card_meta .ciLocationOn, .ciStopwatch {
    display: flex;
    align-items: center;
    gap: 4px;
}

.details_link {
    display: block;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: var(--radius-sm);
    text-decoration: none;
    font-weight: 500;
}

.details_link:hover {
    color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .showAnyUserData .user_data .user_images .cover_user_image {
        min-height: 240px;
    }
    
    .showAnyUserData .user_data .user_images .user_img_container {
        width: 120px;
        height: 120px;
    }
    
}

/* للأجهزة المتوسطة (tablet) */
@media (min-width: 540px) and (max-width: 768px) {
    .showAnyUserData .user_data .user_images .cover_user_image {
        min-height: 220px;
    }
    .showAnyUserData .user_data .user_images .profile_user_image {
        width: 120px;
    }
    .showAnyUserData .user_data .user_images .profile_user_image .user_img_container {
        width: 110px;
        height: 110px;
    }
}

/* للأجهزة الصغيرة (mobile) */
@media (max-width: 540px) {
    .showAnyUserData .user_data .user_images .cover_user_image {
        min-height: 150px;
    }

    .showAnyUserData .user_data .user_images .profile_user_image {
        width: 110px;
    }

    .showAnyUserData .user_data .user_images .profile_user_image .user_img_container {
        width: 100px;
        height: 100px;
    }
}